Options +ExecCGI +MultiViews
AddType text/html .cgi
AddHandler cgi-script .cgi

AddType text/html .html

AddLanguage ja .ja
AddLanguage en .en

AddCharset utf-8 .xml .u8

Redirect permanent /gate/2007/html/cc-interface.en.html http://suika.fam.cx/gate/2007/html/cc/
Redirect permanent /gate/2007/html/cc-interface.en http://suika.fam.cx/gate/2007/html/cc/
Redirect permanent /gate/2007/html/cc-interface http://suika.fam.cx/gate/2007/html/cc/

Redirect gone /gate/2007/html/cc-todo.txt
Redirect gone /gate/2007/html/cc-todo

## License: Public Domain.