@import '/www/style/html/xoxo.css';

.section {
  display: block;
  margin: 1em;
  border: #800080 1px solid;
  padding: 0.5em 1em;
}

dt, strong, th {
  font-weight: bolder;
  font-family: sans-serif;
}
dt:after {
  content: ":";
}

h1 {
  font-weight: bolder;
  font-family: sans-serif;
  font-size: 180%;
}

h2 {
  margin: 0;
  border-style: none;
  padding: 0;
  font-weight: bolder;
  font-family: sans-serif;
  font-size: 150%;
}

h3, th {
  font-weight: bolder;
  font-family: sans-serif;
  font-size: 100%;
  background-color: #fff0f0;
  color: black;
}

.tree-text q, .tree-cdata q, .tree-comment q {
  display: block;
}

q, #source-string li {
  white-space: pre;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}

q, #source-string ol {
  background-color: #f0f0ff;
  color: black;
  line-height: 1.5;
}

q:before, q:after {
  content: "";
}

#parse-errors dl:empty:before {
  content: "This document has no parse error.";
  font-style: italic;
}

#document-errors dl:empty:before {
  content: "This document has no document error.";
  font-style: italic;
}

#document-tree > ol {
  margin-left: 0;
  padding-left: 0;
}
#document-tree > ol > li {
/*  display: block;
  list-style: none;
  margin-left: 0;
  padding-left: 0; */
}

#document-tree ol /*ol*/ {
  margin-left: 1em;
  padding-left: 0;
}

#document-tree ol /*ol*/ li {
  margin-left: 0;
  padding-left: 0.4em;
}

#document-tree ul.attributes {
  margin-left: 3em;
  padding: 0;
}

#document-tree ul.attributes li {
  display: inline;
  list-style: none;
  margin: 0 2em 0 0;
  padding: 0;
  text-indent: 0;
  font-size: 90%;
}

#dump-manifest tbody:empty {
  display: table-caption;
  caption-side: bottom;
}

#dump-manifest tbody:empty::after {
  content: "This cache manifest contains no oppotunistic caching namespace.";
  font-style: italic;
}

#dump-manifest dt:first-child + dt::before,
#dump-manifest dt:last-child::after {
  display: block;
  content: "This cache manifest contains no explicit entry.";
  margin-left: 2.5em;
  font-style: italic;
  font-weight: normal;
  font-family: serif;
}

#dump-manifest dt:last-child::after {
  content: "This cache manifest has an empty online whitelist.";
}

#parse-errors dd, #document-errors dd, #error-description h3,
#result-para {
  margin-left: 20px;
  padding-left: 40px;
  min-height: 32px;
  background-image: url(large-stop);
  background-position: center left;
  background-repeat: no-repeat;
}

#levels-table tbody th:first-child {
  padding-left: 42px;
  min-height: 32px;
  background-image: url(large-stop);
  background-position: 5px center;
  background-repeat: no-repeat;
  text-align: left;
}

#identifiers dd, #terms dd {
  margin-left: 20px;
  padding-left: 20px;
  min-height: 20px;
}

#identifiers dd + dd, #terms dd + dd {
  background-image: url(error);
  background-position: center left;
  background-repeat: no-repeat;
}

#error-description h3 {
  margin-left: 1em;
  margin-right: 1em;
}

#parse-errors dd.level-s, #document-errors dd.level-s,
#parse-errors dd.should,
#document-errors dd.should, #error-description .should h3,
#result-para.SEE-RESULT, #levels-table #level-s th {
  background-image: url(large-stop);
}

#parse-errors dd.level-w, #document-errors dd.level-w,
#parse-errors dd.warning,
#document-errors dd.warning, #error-description .warning h3,
#levels-table #level-w th {
  background-image: url(large-alert);
}

#parse-errors dd.level-unsupported, #document-errors dd.level-unsupported,
#parse-errors dd.unsupported,
#document-errors dd.unsupported {
  margin-left: 60px;
  border: red 0.2em solid;
  padding: 0.5em;
}

#parse-errors dd.unsupported,
#document-errors dd.unsupported, #error-description .unsupported h3,
#result-para.uncertain, #levels-table #level-unsupported th {
  background-image: none;
}

#result-para.PASS {
  background-image: url(ok);
}

#nav-items {
  display: block;
  position: fixed;
  top: 0.5em;
  right: 0.5em;
  width: auto;
  height: auto;
  font-size: 90%;
  background-color: #f4fff4;
  color: black;
  padding: 0;
  line-height: 1.1;
}

#nav-items li {
  display: block;
  list-style: none;
  margin: 0;
  border-style: none;
  padding: 0;
  text-align: center;
}

#nav-items li a[href] {
  display: block;
  border-style: none;
  color: inherit;
  text-decoration: none;
}

img {
  border-style: none;
}

code {
  font-family: "Courier New", "Courier", monospace;
  letter-spacing: 0.1em;
  background-color: transparent;
  color: orangered;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}

.example {
  background-color: #ececff;
}

pre.example {
  margin-left: 1em;
  margin-right: 1em;
  padding: 0.2em 0.5em;
}

.example.bad {
  background-color: #fff7f7;
}

code.example.bad {
  color: inherit;
  background-color: #ffeeee;
}

h3 code.example.bad {
  color: orangered;
  background-color: transparent;
}

pre.example::before {
  content: "Example";
  display: block;
  color: #b0b0ff;
  background-color: transparent;
  font-weight: bolder;
  font-family: sans-serif;
}

pre.example.html::before {
  content: "HTML Example";
}

pre.example.xml::before {
  content: "XML Example";
}

pre.example.manifest::before {
  content: "Cache Manifest Example";
}

pre.example.bad::before {
  content: "Bad Example";
  color: #ffc1c1;
}

pre.example.bad.html::before {
  content: "HTML Bad Example";
}

pre.example.bad.xml::before {
  content: "XML Bad Example";
}

pre.example.bad.manifest::before {
  content: "Cache Manifest Bad Example";
}

.rfc2119 {
  border-style: none;
  text-transform: lowercase;
  font-variant: small-caps;
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
  font-family: sans-serif;
}

#result-summary table {
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #800080;
  border-collapse: collapse;
}

#result-summary tbody, colgroup {
  border: 3px solid #800080;
}

#result-summary th {
  background-color: #fff0f0;
  color: black;
}

#result-summary th, #result-summary td {
  border: 1px solid #800080;
  padding: 0.2em 0.5em;
  text-align: center;
  empty-cells: show;
}

.uncertain td, p.uncertain, #level-unsupported, #level-unsupported th {
  background-color: #e1e1ff;
  color: black;
}

.FAIL, .uncertain td.FAIL, #level-m, #level-m th {
  background-color: #ffcece;
  color: black;
}

.SEE-RESULT, .uncertain td.SEE-RESULT, #level-s, #level-s th {
  background-color: #e1e1ff;
  color: black;
}

.PASS, #level-w, #level-w th {
  background-color: #ddffdd;
  color: black;
}

#result-para {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-right: 1em;
}

/* dl.switch from WHATWG specification style sheet */

dl.switch {
  padding-left: 2em;
}

dl.switch dt {
  display: block;
  text-indent: -1.5em;
  font-weight: bolder;
  font-family: sans-serif;
  font-style: normal;
}

dl.switch dt:before {
  content: '\21AA';
  padding: 0 0.5em 0 0;
  display: inline-block;
  width: 1em;
  text-align: right;
  line-height: 0.5em;
}

dl.switch dt:after {
  content: " :";
}

/*

Copyright 2007 Wakaba <w@suika.fam.cx>.

This library is free software; you can redistribute it
and/or modify it under the same terms as Perl itself.

$Date: 2007/11/23 12:08:32 $

*/
